# Ignorar arquivos e diretórios do Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar caches de testes
.pytest_cache/

# Ignorar ambientes virtuais
venv/
utils/config.env
env/
env.bak/
venv.bak/
ENV/
ENV.bak/
*.env

# Ignorar arquivos de configuração do editor
.vscode/
*.sublime-workspace
*.sublime-project

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de documentação gerados
docs/
mkdocs-material/
